@import '../../assets/scss/variables.scss';

section.tokens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  letter-spacing: 0.5px;
  article {
    background: #ffffff;
    box-shadow: 0 0 3px #cccccc;
    border-radius: 5px;
    display: block;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 95% 10%;
    @each $token in $tokens {
      &.#{$token} {
        background-image: cryptoicon($token);
      }
    }
    h1 {
      font-size: 18px;
      font-weight: 400;
      color: #e95380;
      display: block;
      padding: 20px;
      padding-bottom: 0px;
    }
    div {
      display: grid;
      grid-template-columns: auto auto;
      &.amount {
        padding: 0 20px;
        margin: 20px 0;
        h2 {
          font-size: 15px;
          font-weight: 400;
          span {
            font-weight: 500;
          }
        }
        h3 {
          font-size: 15px;
          font-weight: 400;
          text-align: right;
          opacity: 0.6;
        }
      }
      &.button {
        @include gradient_dark();
        border-radius: 0px 0px 5px 5px;
        a {
          display: block;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          padding: 12px 0;
          box-sizing: border-box;
          transition: all 0.5s ease;
          &:first-child {
            border-radius: 0px 0px 0px 5px;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
          }
          &:last-child {
            border-radius: 0px 0px 5px 0px;
          }
          &:hover {
            @include gradient_light();
          }
          svg {
            margin-right: 7px;
          }
        }
      }
    }
  }
}
